.banner {
  height: 500px;
  background-image: url("https://picsum.photos/1200/900?random=1");
  background-size: cover;
  margin-bottom: 100px;
}

.banner-text {
  padding-top: 150px;
}

.cursive {
  font-family: 'Pacifico', cursive;
  font-size: larger;
}

.tagline {
  margin-bottom: 40px;
}
