#banner {
  height: 560px;
  background-image: url("/images/banner-lighter.png");
  background-size: contain;
  margin-bottom: 100px;
  margin-top: 50px;
  background-color: #FEE7ED;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 846px !important;
  border: 2px solid black;
  box-shadow: -6px 6px black;
}

.banner-text {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cursive {
  font-family: 'Pacifico', cursive;
  border: 2px solid black;
  color: #1C2321;
  padding: 4px;
  font-weight: initial;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -4px 4px #F0A7B6;
  /* background-color: #a5c5ff; */
}

.banner-btn {
  top: 340px;
  left: 310px;
}

.tagline {
  margin-bottom: 40px;
}

.header {
  display: flex;
  width: 280px;
  font-size: larger;
  position: absolute;
}

.type-box {
  position: relative;
  font-size: small;
  top: 175px;
  left: -60px;
}
