.btn {
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: rgba(20, 139, 162, 0.5);
  margin-top: 20px;
}

.card-btn {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 16px;
}

.btn:hover {
  box-shadow: 0 0 16px 4px #a5c5ff
}

/* Banner Button */

.rotate {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bolder;
}
.rotate a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate a:before,
.rotate a:after{
  position: absolute;
  content: "LEARN MORE";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.rotate a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.rotate a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.rotate a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Card Button */

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
  text-decoration: none;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--pandora {
	background: #000;
	font-weight: 700;
	padding: 0;
	border-radius: 5px;
}

.button--pandora span {
	display: block;
	background: #ffffff;
	padding: 1.5rem 2rem;
	border: 1px solid #000;
	border-radius: 5px;
	transform: translate3d(-4px, -4px, 0);
	transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pandora:hover span {
	transform: translate3d(-8px, -8px, 0);
}
