.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
  flex-wrap: wrap;
  margin-top: 80px;
  align-items: center;
  justify-content: space-around;
  margin-left: -332px;
  position: relative;
  top: -289px;
}

.card {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  width: 340px;
  height: 230px;
  position: relative;
  background-color: #FEE7ED;
  margin: 20px;
  box-shadow: -6px 6px black;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.card img {
  margin-top: -60px;
  margin-left: 30px;
  box-shadow: -6px 6px #F0A7B6;
  border: 2px solid #f0a7b6;
}

.card:hover {
    transform: translate3d(8px, -8px, 0) scale(1.02);
}

.first-row {
  display: flex;
}

.first-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.second-row {
  display: flex;
  margin-bottom: 150px;
  margin-top: 100px;
}

.top-card {
  left: 222px;
  top: 91px;
}

.middle-card {
  right: -192px;
  top: 404px;
}

.bottom-card {
  left: -10px;
  top: 358px;
}


.card-content {
  position: relative;
  top: -44px;
  width: 300px;
  left: 47px;
  margin-left: -25px;
  font-size: 16px;
  text-align: left;
}


