.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  width: 230px;
  height: 380px;
  position: relative;
}

.card:hover {
  transform: scale(1.01);
}
