.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  width: 340px;
  height: auto;
  position: relative;
  background-color: #FEE7ED;
  margin: 20px;
  box-shadow: 6px 6px black;
}

.card img {
  margin-top: 20px;
}

.card a {
  position: relative;
  left: 140;
  bottom: -40;
}

.card:hover {
  transform: scale(1.01);
}
